.ranking{
    display: flex;
    min-width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.ranking__header{
    background-color: var(--orange);
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding: 14px;
}

.ranking__header__title{
    color: var(--white);
    font-size: 1.7rem;
}

.ranking__main{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    position: relative;
    bottom: 42px;
    flex-wrap: wrap;
}

.ranking__list{
    max-width: 40%;
    width: 40%;
}

.ranking__section{
    width: 100%;
    background-color: var(--white);
    border-radius: 14px;
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.38);
}

.ranking__section__main{
    margin: 0 0 42px 0;
    padding: 7px;
}