.ranking__user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px;
}
.ranking__user__header__img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 7px solid var(--white);
    box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.38);
    margin-bottom: 7px;
}

.ranking__user__info{
    text-align: center;
    margin-top: 7px;
}

.ranking__user__info__username{
    color: var(--orange);
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}
.ranking__user__info__points{
    color: var(--yellow);
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

.ranking__user__info__position{
    font-size: 1.1rem;
    color: var(--black);
    padding: 7px;
    border-radius: 7px;
}



.ranking__user__header__img:hover{
    cursor: pointer;
    box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.70);
}